LINKOUT_CHROME_URL=http://127.0.0.1:9222
LINKOUT_LIVE_READ_ONLY=0
LINKOUT_LIVE_PROFILE_URL=https://www.linkedin.com/in/example/
LINKOUT_LIVE_THREAD_URL=https://www.linkedin.com/messaging/thread/example/
